$color-link: #008edb;
$color-danger: #d0021b;
$color-success: #14a44d;
$color-address: #ff3d00;
$color-text: #0e2431;
$color-border: #cccccc;
$color-dropdown-option: #d1efff;

$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-20: 20px;
$font-80: 80px;

$font-weight-400: 400;
$font-weight-600: 600;
